## Install selenium, webdriver

In [90]:
!pip install selenium
!pip install webdriver-manager
# !pip install WebDriverWait

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.31.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.3)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2025.1.31)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.7)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in c:\users\user\anaconda3\lib\site-packages (4.0.2)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from webdriver-manager) (2.32.3)
Requirement already satisfied: python-dotenv in c:\users\user\anaconda3\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: packaging in c:\users\user\anaconda3\lib\site-packages (from webdriver-manager) (24.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->webdriver-manager) (2025.1.31)

## Import &  Check Data

In [4]:
import pandas as pd
import numpy as np
import time
import itertools # Use to extract nested lists
import requests
import os
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC
from io import StringIO
from selenium.webdriver.support.ui import WebDriverWait

data_stocks_name = pd.read_csv('Stocks_Name.csv')
data_stocks_name.tail()

    Stocks_Name
918        YONG
919       YUASA
920         ZAA
921         ZEN
922        ZIGA

### ! Function check stock name

In [6]:
# Check stock name in the data_stocks_name
def check_stock_exists_insensitive(stock_names):
    lowercase_stock_names = set(data_stocks_name['Stocks_Name'].str.lower())
    if isinstance(stock_names, str):
        stock_names = [stock_names]
    for stock_name in stock_names:
        found = stock_name.lower() in lowercase_stock_names
        print(f"Find stock in df    : {stock_name} ✅" if found else f"No Find stock in df : {stock_name} ❌")

check_stock_exists_insensitive(['aav', 'bbL', 'PTT','peeat'])

Find stock in df    : aav ✅
Find stock in df    : bbL ✅
Find stock in df    : PTT ✅
No Find stock in df : peeat ❌

### ! Function get financial

#### ---- Use requests ----

In [16]:
# https://stockanalysis.com/

def requests_financial_data(ticker):
    ticker = ticker.upper()
    start_time = time.time()
    financial_data_list = []
    report_types = {
        "Income Statement": ("financials", "Income"),
        "Balance Sheet": ("financials/balance-sheet", "BalanceSheet"),
        "Cash Flow Statement": ("financials/cash-flow-statement", "CashFlow") }

    for folder_name, (report_path, report_name_short) in report_types.items():
        time.sleep(np.random.randint(1, 6))
        url = f'https://stockanalysis.com/quote/bkk/{ticker}/{report_path}/'
        file_name = f"{ticker}_{report_name_short}.csv"
        
        # Create a folder if it doesn't exist yet
        folder_path = os.path.join(os.getcwd(), folder_name)  # Create a path for the folde
        if not os.path.exists(folder_path):
            os.makedirs(folder_path)
        file_path = os.path.join(folder_path, file_name)

        try:
            response = requests.get(url)
            response.raise_for_status()  # Raise an exception for HTTP errors
            soup = BeautifulSoup(response.text, 'html.parser')
            table = soup.find('table', id='main-table')

            if table:
                df = pd.read_html(StringIO(str(table)))[0].iloc[:, :-1]
                if isinstance(df.columns, pd.MultiIndex):
                    df.columns = df.columns.get_level_values(0)
                financial_data_list.append(df)
                df.to_csv(file_path, index=False, encoding='utf-8')
                print(f" Time taken for {ticker} - {folder_name}: {time.time() - start_time:.2f} sec (Saved to {file_path})")
            else:
                print(f" Warning : Data table not found for {ticker} - {folder_name}")

        except requests.exceptions.RequestException as e:
            print(f"Error fetching URL for {ticker} - {folder_name} : {e}")
        except ValueError as e:
            print(f"Error parsing table for {ticker} - {folder_name} : {e}")
    return

In [18]:
requests_financial_data('yyyyyy')

 Warning : Data table not found for YYYYYY - Income Statement
 Warning : Data table not found for YYYYYY - Balance Sheet
 Warning : Data table not found for YYYYYY - Cash Flow Statement

In [2]:
# import สั้นลง

import pandas as pd
import numpy as np
import time
import requests
import os
from bs4 import BeautifulSoup

def requests_financial_data(ticker):
    ticker = ticker.upper()
    start_time = time.time()

    report_types = {
        "Income Statement": ("financials", "Income"),
        "Balance Sheet": ("financials/balance-sheet", "BalanceSheet"),
        "Cash Flow Statement": ("financials/cash-flow-statement", "CashFlow")
    }

    for folder_name, (report_path, _) in report_types.items():
        time.sleep(np.random.randint(1, 6))  # Random delay to avoid rate-limiting
        url = f'https://stockanalysis.com/quote/bkk/{ticker}/{report_path}/'
        file_name = f"{ticker}_{folder_name.replace(' ', '')}.csv"
        
        # Create folder if it doesn't exist
        folder_path = os.path.join(os.getcwd(), folder_name)
        os.makedirs(folder_path, exist_ok=True)  # Simplified folder creation
        file_path = os.path.join(folder_path, file_name)

        try:
            response = requests.get(url)
            response.raise_for_status()  # Raise an exception for HTTP errors
            soup = BeautifulSoup(response.text, 'html.parser')
            table = soup.find('table', id='main-table')

            if table:
                df = pd.read_html(str(table))[0].iloc[:, :-1] 
                if isinstance(df.columns, pd.MultiIndex):
                    df.columns = df.columns.get_level_values(0)  
                df.to_csv(file_path, index=False, encoding='utf-8')  # Save to CSV
                print(f"Time taken for {ticker} - {folder_name}: {time.time() - start_time:.2f} sec (Saved to {file_path})")
            else:
                print(f"Warning: Data table not found for {ticker} - {folder_name}")

        except requests.exceptions.RequestException as e:
            print(f"Error fetching URL for {ticker} - {folder_name}: {e}")
        except ValueError as e:
            print(f"Error parsing table for {ticker} - {folder_name}: {e}")

In [4]:
requests_financial_data('ttb')

C:\Users\USER\AppData\Local\Temp\ipykernel_17792\3049160392.py:35: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0].iloc[:, :-1]

Time taken for TTB - Income Statement: 5.89 sec (Saved to D:\Anaconda_Jupyter\DS Intern at Pi\Sprint01_ScrapFinStatement\Income Statement\TTB_IncomeStatement.csv)

C:\Users\USER\AppData\Local\Temp\ipykernel_17792\3049160392.py:35: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0].iloc[:, :-1]

Time taken for TTB - Balance Sheet: 9.73 sec (Saved to D:\Anaconda_Jupyter\DS Intern at Pi\Sprint01_ScrapFinStatement\Balance Sheet\TTB_BalanceSheet.csv)
Time taken for TTB - Cash Flow Statement: 11.51 sec (Saved to D:\Anaconda_Jupyter\DS Intern at Pi\Sprint01_ScrapFinStatement\Cash Flow Statement\TTB_CashFlowStatement.csv)

C:\Users\USER\AppData\Local\Temp\ipykernel_17792\3049160392.py:35: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0].iloc[:, :-1]

#### ---- Use selenium ----

In [12]:
def scrap_financial_data(ticker):
    start_time = time.time()
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
    url_income = f'https://stockanalysis.com/quote/bkk/{ticker}/financials/' # Imcome
    try:
        driver.get(url_income)
        wait = WebDriverWait(driver, 30)
        table_element = wait.until(
            EC.presence_of_element_located((By.TAG_NAME, 'table')))
        html = driver.page_source
        soup = BeautifulSoup(html, 'html.parser')
        table = soup.find('table')
        df = pd.read_html(StringIO(str(table)))[0].iloc[:, :-1] if table else None

        if df is not None and isinstance(df.columns, pd.MultiIndex):
            df.columns = df.columns.get_level_values(0)

        print(f"⌛ Time taken for {ticker} : {time.time() - start_time:.2f} sec")
        return df
    except Exception as e:
        print(f"Error scraping data for {ticker} : {e}")
        return None
    finally:
        driver.quit()

In [14]:
scrap_financial_data('bbl')

⌛ Time taken for bbl : 7.80 sec

,Fiscal Year,TTM,FY 2024,FY 2023,FY 2022,FY 2021,FY 2020
0,Interest Income on Loans,205827,208029,194365,139088,114313,112524
1,Interest Income on Investments,2288,2345,2330,2306,2252,2039
2,Total Interest Income,208116,210374,196695,141394,116564,114563
3,Interest Paid on Deposits,73441,74129,63504,36865,32156,35477
4,Net Interest Income,134674,136245,133191,104530,84408,79086
5,Net Interest Income Growth (YoY),-1.48%,2.29%,27.42%,23.84%,6.73%,5.67%
6,Gain (Loss) on Sale of Assets,1023,913.14,893.76,1891,519.2,734.13
7,Gain (Loss) on Sale of Investments,3606,890.88,-482.23,-1454,1225,2512
8,Gain (Loss) on Sale of Equity Investments,202.89,204.59,187.38,189.56,208.86,-14.49
9,Other Non-Interest Income,40276,37558,33698,33738,48180,36411
10,Total Non-Interest Income,45108,39566,34297,34365,50133,39642
11,Non-Interest Income Growth (YoY),40.19%,15.36%,-0.20%,-31.45%,26.46%,-32.70%
12,Revenues Before Loan Losses,179782,175811,167487,138895,134541,118728
13,Provision for Loan Losses,35324,34838,33667,32647,34134,31196
14,Revenue,144458,140973,133821,106248,100407,87532
15,Revenue Growth (YoY),6.93%,5.34%,25.95%,5.82%,14.71%,-13.67%
16,Salaries and Employee Benefits,36203,35896,35921,34794,35003,30959
17,Occupancy Expenses,16879,16970,15738,15371,14765,14165
18,"Selling, General & Administrative",260.56,266.28,245.87,259.05,263.45,186.93
19,Other Non-Interest Expense,32197,31273,29870,18594,17234,20662
20,Total Non-Interest Expense,85539,84405,81775,69019,67266,65974
21,EBT Excluding Unusual Items,58919,56567,52046,37229,33141,21558
22,Pretax Income,58919,56567,52046,37229,33141,21558
23,Income Tax Expense,11228,10946,9993,7484,6189,4014
24,Earnings From Continuing Operations,47691,45622,42053,29746,26952,17545
25,Minority Interest in Earnings,-386.2,-410.52,-417.11,-439.93,-445.08,-364.15
26,Net Income,47305,45211,41636,29306,26507,17181
27,Net Income to Common,47305,45211,41636,29306,26507,17181
28,Net Income Growth,12.55%,8.59%,42.07%,10.56%,54.29%,-52.03%
29,Basic Shares Outstanding,1909,1909,1909,1909,1909,1909
30,Diluted Shares Outstanding,1909,1909,1909,1909,1909,1909
31,EPS (Basic),24.78,23.69,21.81,15.35,13.89,9.00
32,EPS (Diluted),24.78,23.69,21.81,15.35,13.89,9.00
33,EPS Growth,12.55%,8.59%,42.07%,10.56%,54.29%,-52.03%
34,Dividend Per Share,8.500,8.500,7.000,4.500,3.500,2.500
35,Dividend Growth,21.43%,21.43%,55.56%,28.57%,40.00%,-64.29%
36,Effective Tax Rate,19.06%,19.35%,19.20%,20.10%,18.68%,18.62%